* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header Styles */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* End Header Styles */

/* Hero and Content Styles */

.hero {
    height: 1250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content p {
    font-size: 20px;
    padding-right: 30px;
    
    
    
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 55px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 290px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  {
    margin-bottom: 40px;
    font-size: 48px;
}

/* Benefit Styles */
.benefits {
    margin-right: 20px;
    padding: 25px 25px 100px 25px;
    clear: both;
    float: right;
    width: 20%;
    height: 1350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img   {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    max-height: 200px;
}

.benefits p {
    font-size: 20px;
    margin-bottom: 100px;
}


.footer {
    padding: 0 0 30px 0;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
