* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header Styles */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    overflow: auto;
}

header h1 {
    display: inline-block;
    font-size: 80px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    font-size: 30px;
    margin: 10px 25px 25px 25px;   
}

header a {
    color: #ffffff;
    text-decoration: none;
}
/* End Header Styles */

/* Hero and Main Content Styles */
.hero {
    height: 1250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content p {
    font-size: 20px;
    padding-right: 30px; 
}

.information {
    margin-bottom: 20px;
    padding: 55px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
}

.information img {
    max-height: 290px;
}

.information h2 {
    margin-bottom: 40px;
    font-size: 48px;
}
/* End Hero and Main Content Styles */

/* Benefit Styles */
.benefits {
    margin-right: 20px;
    padding: 25px 25px 100px 25px;
    clear: both;
    float: right;
    width: 20%;
    height: 1350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2589bd;
    overflow: auto;    
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.benefit img  {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    max-height: 200px;
}

.benefit p {
    font-size: 20px;
    margin-bottom: 50px;
}
/* End Benefits Styles */

/* Footer Styles */
footer {
    padding: 0 0 30px 0;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/* End Footer Styles */